DSM FW Pack/sources/DSMFW/resources/DSMPlatforms/531084/DSMCompositionLanguage.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/CustomMashupPlatform/composition" elementFormDefault="qualified" targetNamespace="http://www.example.org/CustomMashupPlatform/composition">

	<xs:element name="mashup">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded" minOccurs="1">
				
				<xs:element maxOccurs="unbounded" minOccurs="1" name="component" type="tns:componentType"/>
	
				<xs:element maxOccurs="1" minOccurs="0" name="page" type="tns:pageType"/>
	
				
	
				
	
				<xs:element maxOccurs="unbounded" minOccurs="0" name="constant" type="tns:constantType"/>
	
				<xs:element maxOccurs="unbounded" minOccurs="0" name="dfConnector" type="tns:dfConnectorType"/>
		
				
		
				
	
				

			</xs:choice>
			
			<xs:attribute name="name" type="xs:string" use="required"/>
			
				
			
		</xs:complexType>
		
		
	
		

		
	
		
		
		
	
		
		
<!-- ================================== Keys definitions ============================================ -->
		
		<xs:key name="componentKey">
			<xs:selector xpath="component"/>
			<xs:field xpath="@id"/>
		</xs:key>
		
		<xs:key name="dataTypeKey">
			<xs:selector xpath="dataType"/>
			<xs:field xpath="@id"/>
		</xs:key>
		
		<xs:key name="configurationParameterKey">
			<xs:selector xpath="component/configurationParameter"/>
			<xs:field xpath="@id"/>
		</xs:key>
		
		<xs:key name="operationKey">
			<xs:selector xpath="component/operation"/>
			<xs:field xpath="@id"/>
		</xs:key>
		
		<xs:key name="inputParameterKey">
			<xs:selector xpath="component/operation/inputParameter"/>
			<xs:field xpath="@id"/>
		</xs:key>
		
		<xs:key name="outputParameterKey">
			<xs:selector xpath="component/operation/outputParameter"/>
			<xs:field xpath="@id"/>
		</xs:key>
		
		<xs:key name="userRoleKey">
			<xs:selector xpath="userRole"/>
			<xs:field xpath="@id"/>
		</xs:key>
		
		<xs:key name="pageKey">
			<xs:selector xpath="page"/>
			<xs:field xpath="@id"/>
		</xs:key>
		
		<xs:key name="viewportKey">
			<xs:selector xpath="page/viewport"/>
			<xs:field xpath="@id"/>
		</xs:key>
		
		<xs:key name="globalVariableKey">
			<xs:selector xpath="globalVariable"/>
			<xs:field xpath="@id"/>
		</xs:key>
		
		<xs:key name="constantKey">
			<xs:selector xpath="constant"/>
			<xs:field xpath="@id"/>
		</xs:key>
		
		<xs:key name="dfConnectorKey">
			<xs:selector xpath="dfConnector"/>
			<xs:field xpath="@id"/>
		</xs:key>
		
		<xs:key name="cfConnectorKey">
			<xs:selector xpath="cfConnector"/>
			<xs:field xpath="@id"/>
		</xs:key>
		
		<xs:key name="joinKey">
			<xs:selector xpath="join"/>
			<xs:field xpath="@id"/>
		</xs:key>
		
		<xs:key name="splitKey">
			<xs:selector xpath="split"/>
			<xs:field xpath="@id"/>
		</xs:key>
		
<!-- ================================== References definitions ============================================ -->
		
		<xs:keyref name="configurationParameter_dataTypeRef" refer="tns:dataTypeKey">
			<xs:selector xpath="configurationParameter/has_dataType"/>
			<xs:field xpath="@ref"/>
		</xs:keyref>
		
		<xs:keyref name="inputParameter_dataTypeRef" refer="tns:dataTypeKey">
			<xs:selector xpath="component/operation/inputParameter/has_dataType"/>
			<xs:field xpath="@ref"/>
		</xs:keyref>
		
		<xs:keyref name="outputParameter_dataTypeRef" refer="tns:dataTypeKey">
			<xs:selector xpath="component/operation/outputParameter/has_dataType"/>
			<xs:field xpath="@ref"/>
		</xs:keyref>
		
		<xs:keyref name="viewport_componentRef" refer="tns:componentKey">
			<xs:selector xpath="page/viewport/displays_component"/>
			<xs:field xpath="@ref"/>
		</xs:keyref>
		
		<xs:keyref name="belongsTo_userRoleRef" refer="tns:userRoleKey">
			<xs:selector xpath="page/belongsTo_userRole"/>
			<xs:field xpath="@ref"/>
		</xs:keyref>
		
		<xs:keyref name="globalVariable_dataTypeRef" refer="tns:dataTypeKey">
			<xs:selector xpath="globalVariable"/>
			<xs:field xpath="@dataType"/>
		</xs:keyref>
		
		<xs:keyref name="constant_dataTypeRef" refer="tns:dataTypeKey">
			<xs:selector xpath="constant/has_dataType"/>
			<xs:field xpath="@ref"/>
		</xs:keyref>
		
		<xs:keyref name="constant_configurationParameterRef" refer="tns:configurationParameterKey">
			<xs:selector xpath="constant/feeds_configurationParameter"/>
			<xs:field xpath="@ref"/>
		</xs:keyref>
		
		<xs:keyref name="constant_inputParameterRef" refer="tns:inputParameterKey">
			<xs:selector xpath="constant/feeds_inputParameter"/>
			<xs:field xpath="@ref"/>
		</xs:keyref>
		
		<xs:keyref name="dfConnector_outputParameterRef" refer="tns:outputParameterKey">
			<xs:selector xpath="dfConnector/source_outputParameter"/>
			<xs:field xpath="@ref"/>
		</xs:keyref>
		
		<xs:keyref name="dfConnector_inputParameterRef" refer="tns:inputParameterKey">
			<xs:selector xpath="dfConnector/target_inputParameter"/>
			<xs:field xpath="@ref"/>
		</xs:keyref> 
		
		<xs:keyref name="dfConnector_source-globalVariableRef" refer="tns:globalVariableKey">
			<xs:selector xpath="dfConnector/source_globalVariable"/>
			<xs:field xpath="@ref"/>
		</xs:keyref>
		
		<xs:keyref name="dfConnector_target-globalVariableRef" refer="tns:globalVariableKey">
			<xs:selector xpath="dfConnector/target_globalVariable"/>
			<xs:field xpath="@ref"/>
		</xs:keyref> 
		
		<xs:keyref name="cfConnector_sourceOperationRef" refer="tns:operationKey">
			<xs:selector xpath="cfConnector/source_operation"/>
			<xs:field xpath="@ref"/>
		</xs:keyref>
		
		<xs:keyref name="cfConnector_targetOperationRef" refer="tns:operationKey">
			<xs:selector xpath="cfConnector/target_operation"/>
			<xs:field xpath="@ref"/>
		</xs:keyref>
		
		<xs:keyref name="join_sourceOperationRef" refer="tns:operationKey">
			<xs:selector xpath="join/source_operation"/>
			<xs:field xpath="@ref"/>
		</xs:keyref>
		
		<xs:keyref name="join_targetOperationRef" refer="tns:operationKey">
			<xs:selector xpath="join/target_operation"/>
			<xs:field xpath="@target"/>
		</xs:keyref>
		
		<xs:keyref name="split_sourceOperationRef" refer="tns:operationKey">
			<xs:selector xpath="split/source_operation"/>
			<xs:field xpath="@ref"/>
		</xs:keyref>
		
		<xs:keyref name="split_targetOperationRef" refer="tns:operationKey">
			<xs:selector xpath="join/target_operation"/>
			<xs:field xpath="@ref"/>
		</xs:keyref>
		
	</xs:element>


<!-- ================================== Types definitions ============================================ -->

	<xs:complexType name="componentType">

		<xs:choice maxOccurs="unbounded" minOccurs="1">

			<xs:element maxOccurs="unbounded" minOccurs="0" name="dataType">
				<xs:complexType mixed="true">
					<xs:attribute name="id" type="xs:string" use="required"/>
					<xs:attribute name="name" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>

			<xs:element maxOccurs="unbounded" minOccurs="0" name="configurationParameter">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="1" name="has_dataType">
							<xs:complexType>
								<xs:attribute name="ref" type="xs:string" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>	
			
					<xs:attribute name="id" type="xs:string" use="required"/>
					<xs:attribute name="name" type="xs:string" use="required"/>
					<xs:attribute fixed="yes" name="manualInput" use="optional"/>
				</xs:complexType>
			</xs:element>

			<xs:element maxOccurs="1" minOccurs="1" name="operation" type="tns:operationType"/>

		</xs:choice>

		<xs:attribute name="id" type="xs:string" use="required"/>
		
		<xs:attribute name="name" type="xs:string" use="required"/>
		
		<xs:attribute name="endpoint" type="xs:string" use="required"/>

		<xs:attribute name="binding" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
			      
			      
			      <xs:enumeration value="rest"/>
			      <xs:enumeration value="soap"/>
			      <xs:enumeration value="javascript"/>
			      
			    </xs:restriction>
			</xs:simpleType>
		</xs:attribute>

		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
			      <xs:enumeration value="data"/>
			      <xs:enumeration value="service"/>
			      <xs:enumeration value="ui"/>
			    </xs:restriction>
		    </xs:simpleType>
		</xs:attribute>
		
		<xs:attribute name="class" type="xs:string" use="required"/>
		
		<xs:attribute default="no" name="supportReferencePassing" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
			      <xs:enumeration value="yes"/>
			      <xs:enumeration value="no"/>
			    </xs:restriction>
		    </xs:simpleType>
		</xs:attribute>
		
		<xs:attribute name="syntax" type="xs:string" use="optional"/>

	</xs:complexType>


	<xs:complexType name="operationType">
		<xs:sequence>
			
			<xs:element maxOccurs="unbounded" minOccurs="0" name="inputParameter">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="1" name="has_dataType">
							<xs:complexType>
								<xs:attribute name="ref" type="xs:string" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					
					<xs:attribute name="id" type="xs:string" use="required"/>
					<xs:attribute name="name" type="xs:string" use="required"/>

					<xs:attribute default="no" name="optional" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="yes|no"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>

					<xs:attribute name="manualInput" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="yes|no"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>	

				</xs:complexType>
			</xs:element>

			<xs:element maxOccurs="unbounded" minOccurs="0" name="outputParameter">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="1" name="has_dataType">
							<xs:complexType>
								<xs:attribute name="ref" type="xs:string" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					
					<xs:attribute name="id" type="xs:string" use="required"/>
					<xs:attribute name="name" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>

		</xs:sequence>

		<xs:attribute name="id" type="xs:string" use="required"/>
		
		<xs:attribute name="name" type="xs:string" use="required"/>
		
		<xs:attribute name="reference" type="xs:string" use="required"/>

		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="request-response"/>
				    
				    <xs:enumeration value="one-way"/>
				    <xs:enumeration value="notification"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	
	
	<xs:complexType name="pageType">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="1" name="viewport">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="0" name="displays_component">
							<xs:complexType>
								<xs:attribute name="ref" type="xs:string" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					
					<xs:attribute name="id" type="xs:string" use="required"/>
					<xs:attribute name="name" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
		
			
		</xs:sequence>
		
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="URL" type="xs:string" use="required"/>
	</xs:complexType>
	
	
	
	
	
	
	<xs:complexType name="constantType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="has_dataType">
				<xs:complexType>
					<xs:attribute name="ref" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="feeds_inputParameter">
				<xs:complexType>
					<xs:attribute name="ref" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="feeds_configurationParameter">
				<xs:complexType>
					<xs:attribute name="ref" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="value" type="xs:string" use="optional"/>
		
	</xs:complexType>
	
	<xs:complexType name="dfConnectorType">
		<xs:sequence>
			
			<xs:element maxOccurs="1" minOccurs="0" name="source_outputParameter">
				<xs:complexType>
					<xs:attribute name="ref" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			
			<xs:element maxOccurs="1" minOccurs="0" name="target_inputParameter">
				<xs:complexType>
					<xs:attribute name="ref" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			
		</xs:sequence>
		
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
	
	
	
	
	
	
			
</xs:schema>